@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;600&display=swap');
  
.background{
	width:100%;
	height:100%;
	background-color: #dfdfdf;
	position: absolute;
}

.text-box{
	position: absolute;
	width: 80%;
	text-align: center;
	/* top: 50%; */
	top: -15%;
	left: 50%;
	word-wrap: normal;
	transform: translate( -50%, -50%);
}

.title{
	font-family: 'Barlow Condensed', sans-serif;
	color: #544444;
	text-align: center;
	font-size: 550%;
	font-weight: 600;
	letter-spacing: 4px;
	opacity: 0;

}

.sub_title{
	font-family: 'Barlow Condensed', sans-serif;
	color: #544444;
	text-align: center;
	font-size: 250%;
	font-weight: 300;
	opacity: 0;
}

.gear-box{
	position: absolute;
	width: 100%;
	height: 100%;
	
	/* bottom: 0%; */
	bottom: 101%;

	perspective: 150px;
	/* perspective: 1000px; */
	perspective-origin: 50% 100% ;
}


.gear1{
	position: absolute;
	width: 50vw;
	height: 50vw;
	left: -25vw;
	bottom: -25vw;

}

.gear2{
	position: absolute;
	width: 25vw;
	height: 25vw;
	left: 24vw;
	bottom: -13vw;
}

.gear3{
	position: absolute;
	width: 50vw;
	height: 50vw;
	left: 75vw;
	top: -25vw;

}

.gear4{
	position: absolute;
	width: 20vw;
	height: 20vw;
	left: 56.5vw;
	top: -10vw;

}

.gear5{
	position: absolute;
	width: 40vw;
	height: 40vw;
	left: 9vw;
	bottom: -52.5vw;
}

.gear6{
	position: absolute;
	width: 30vw;
	height: 30vw;
	left: 46.2vw;
	bottom: -38vw;
}

.gear7{
	position: absolute;
	width: 25vw;
	height: 25vw;
	left: 70vw;
	bottom: -50vw;
}

.gear8{
	position: absolute;
	width: 35vw;
	height: 35vw;
	left: 30.2vw;
	bottom: -45vw;

}

.gear9{
	position: absolute;
	width: 15vw;
	height: 15vw;
	left: -5vw;
	bottom: -40vw;

}

.gear10{
	position: absolute;
	width: 13vw;
	height: 13vw;
	left: -5vw;
	bottom: -52.5vw;

}

.gear11{
	position: absolute;
	width: 13vw;
	height: 13vw;
	left: 55vw;
	bottom: -17vw;

}

.gear12{
	position: absolute;
	width: 18vw;
	height: 18vw;
	left: 70.5vw;
	bottom: -19vw;

}

.gear13{
	position: absolute;
	width: 18vw;
	height: 18vw;
	left: 80vw;
	bottom: -31vw;

}

.gear14{
	position: absolute;
	width: 18vw;
	height: 18vw;
	left: 50vw;
	bottom: -50vw;

}

.gear15{
	position: absolute;
	width: 13vw;
	height: 13vw;
	left: 60vw;
	bottom: -60.5vw;

}

.gear16{
	position: absolute;
	width: 25vw;
	height: 25vw;
	left: 80vw;
	bottom: -25.5vw;
	
}


.gear17{
	position: absolute;
	width: 20vw;
	height: 20vw;
	left: 6.5vw;
	bottom: -60.5vw;
	
}

